body {
  background-image: url(../images/darkness.png);
  font-family: 'Press Start 2p', cursive;
}

.container {
  background-image: url(../images/darkness.png);
}

/* #game-display {
  background-color: #e9ecef;
  min-height: 400px;
  margin-bottom: 30px;
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.gameGif {
  border: 1px paleturquoise solid;
  height: 400px;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-bottom: 30px;
}
.upload {
  font-family: 'Courier New', Courier, monospace;
}
.jumbotron {
  padding: 8px 15px;
  text-align: center;
}

.atkButtons {
  margin-bottom: 30px;
}

.jumbotron {
  /* background-image: url(../images/banner-img.png); */
  /* Full height */
  /* height: 50%;
    width: 50%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(93, 49, 97);
  color:rgb(108, 245, 108);
  border: 2px cyan solid;

}

.profile-img {
  padding-right: 0px;
  margin-right: 0px;
}

#user1-face, #user2-face {
  width: 240px;
  height: 240px;
}

.char-stats {
  margin-left: 0px;
  padding-left: 0px;
}

.card {
  height: 240px;
}

.jumbotron {
  padding: 8px 15px;
  text-align: center;
}

.atkButtons {
  margin-bottom: 30px;
}

.bgJumboImg {
  background-image: url(../images/banner-img.png);
  /* Full height */
  /* height: 50%;
    width: 50%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  padding-right: 0px;
  margin-right: 0px;
}

.char-stats {
  margin-left: 0px;
  padding-left: 0px;
}

.card {
  height: 240px;
}

p {
  margin: 0;
  padding: 0;
}

.btn-dark:hover {
  color: cyan;
}

.btn-danger:hover {
  color: chartreuse;
}
footer {
  background-color: indigo;
  color: lawngreen;
  width: 100%;
  
}

/* 
body {
    background-image: url(https://media.giphy.com/media/ZohjjXBFXojxC/source.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: darkseagreen;
} */