body {
    background-color: whitesmoke;
}

.container {
    background-color: white;
}

#game-display {
    background-color: #e9ecef;
    min-height: 400px;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 8px 15px;
    text-align: center;
}

.profile-img {
    padding-right: 0px;
    margin-right: 0px;;
}

.char-stats {
    margin-left: 0px;
    padding-left: 0px;
}

.card {
    height: 240px;
}

p {
    margin: 0;
    padding: 0;
}